<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class="order-details">
    <h2>Order Details</h2>
    
    <% @order.line_items.each do |line_item| %>
      <div class="line-item">
        <%= image_tag line_item.product.image.thumb.url, alt: line_item.product.name, class: 'line-item-image' %>
        <div class="line-item-details">
          <h3><%= line_item.product.name %></h3>
          <p><strong>Description:</strong> <%= line_item.product.description %></p>
          <p><strong>Quantity:</strong> <%= line_item.quantity %></p>
          <p><strong>Line Item Total:</strong> <%= humanized_money_with_symbol line_item.total_price %></p>
        </div>
      </div>
    <% end %>

    <div class="order-summary">
      <p><strong>Final Amount:</strong> <%= humanized_money_with_symbol @order.total %></p>
      <p><strong>Email Used:</strong> <%= @order.email %></p>
    </div>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
